@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

header {
  height: 62px;
  background-color: #1f1f1f;
  display: flex;
}
.left-header {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.right-header {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.title {
  color: white;
  font-weight: bolder;
}
.location-header {
  color: white;
  font-size: 15px;
  margin-left: 20px;
}
.header-temp {
  color: white;
  font-size: 12px;
  margin-left: 10px;
}
.logo {
  color: orangered;
  font-size: 30px;
  margin-left: 20px;
}
.weather-icon {
  color: rgb(206, 206, 206);
  margin-left: 10px;
}

nav {
  width: 270px;
  height: 34px;
  margin-right: 30px;
}
.search-bar-full {
  width: 222px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-full-big {
  width: 336px; 
  height: 34px;
  justify-content: flex-start; 
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
}
.search-form {
  width: 136px;
  height: 19px;
  cursor: text;
}
.search-icon {
  font-weight: lighter;
  margin-right: 22px;
  font-size: 26px;
  color: gray
}
form input {
  width: 135px;
  border: none;
}
form input:focus {
  outline: none;
}
.sun {
  color: orange
}