@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
body {
  background: #f6f8fa;
}
header {
  height: 62px;
  background-color: #1f1f1f;
  display: flex;
}
.left-header {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.right-header {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.title {
  color: white;
  font-weight: bolder;
}
.location-header {
  color: white;
  font-size: 15px;
  margin-left: 20px;
}
.header-temp {
  color: white;
  font-size: 12px;
  margin-left: 10px;
}
.logo {
  color: orangered;
  font-size: 30px;
  margin-left: 20px;
}
.weather-icon {
  color: rgb(206, 206, 206);
  margin-left: 10px;
}

.nav {
  width: 270px;
  height: 34px;
  margin-right: 30px;
}
.search-bar-full {
  width: 222px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-full-big {
  width: 336px; 
  height: 34px;
  justify-content: flex-start; 
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
}
.search-form {
  width: 136px;
  height: 19px;
  cursor: text;
}
.search-icon {
  font-weight: lighter;
  margin-right: 22px;
  font-size: 26px;
  color: gray
}
form input {
  width: 135px;
  border: none;
}
form input:focus {
  outline: none;
}
.sun {
  color: orange
}
.navbar {
  width: 90%;
  height: 45px;
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  margin-left: 30px;

}
.navbar a {
  margin-left: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}
.navbar a:nth-child(1) {
  margin-left: 0px;
}
.nav-link {
  color: gray;
}
.nav-link-focused {
  border-bottom: 1px solid orangered;
}

.current-weather-div {
  width: 542px;
  height: 239px;
  margin-top: 30px;
  margin-left: 30px;
  border-bottom: 1px solid #c2c2c2;
  background: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);

}
.current-weather-title {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 15px;
}
.current-time {
  width: 100%;
  font-size: 12px;
  color: gray;
  margin-top: 8px;
  font-weight: bolder;
  padding-top: 2px;
  padding-left: 15px;
}
.temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 494px;
}
.temp-container i {
  font-size: 80px;
}
.cloud {
  color: rgb(206, 206, 206);
}
.current-temp {
  font-size: 70px;
}
.current-temp span {
  font-size: 30px;
  opacity: 0.6;
  margin-left: -24px;
}
.real-feel {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  line-height: 1.43;
}
.spaced-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.spaced-content h3 {
  font-size: 15px;
  padding-left: 15px;
}
.spaced-content h2 {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  padding-right: 15px;
}
.spaced-content h2:hover {
  color: rgb(40, 40, 153)
}
/* daily forecast */
.date-span {
  margin-left: 30px;
  font-size: 13px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.weather-container {
  width: 542px;
  margin-left: 30px;
}
.daily-row {
  margin-bottom: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  background: white;
}
.row-date-container {
  margin-left: 10px;
  width: 50px;
}
.day-text {
  font-weight: bolder;
  font-size: 14px;
}
.date-text {
  color: #878787;
  font-size: 13px;
}
.daily-row i {
  margin-left: 50px;
  font-size: 30px;
  width: 30px;
}
.daily-row h3 {
  
  font-size: 25px;
}
.daily-row h4 {
  color: #878787;
  margin-left: 5px;
}
.row-temp-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
  width: 100px;
  justify-content: flex-start;
}
.rain-icon {
  color: rgb(81, 163, 240);
  
}
.hour-text {
  font-weight: bolder;
  font-size: 11.5px;
  width: 100%;
}
.hourly-feels-like {
  font-size: 12px;
  width: 70px;
}

